[2019-01-15 01:29] cdonovick opened #1 "Requirment"
Incorrect requirements in setup.py
requires `bit_vector==0.39a0` but uses function overflow which only exists in `bit_vector >=0.40`

[2019-01-17 20:47] cdonovick opened #2 "Bitvector abstraction"
Peak needs to be abstracted over the bitvector type for use in mapper.

Requirements:
No use of module level functions, i.e. `overflow`
No use of `__bool__`
No use of `if` statements on bitvectors or on functions of bitvectors

[2019-01-24 23:27] cdonovick opened #3 "Enumerating instructions"
It would be convenient if there was a way to enumerate possible instructions.

desired behavior:
[code]

This would be pretty easy to implement if all parts of an instruction were Enum as Enums are iterable.
[code]

[2019-01-24 23:35] phanrahan commented on #3
Neat idea.

The two base types are Enum and Bits. We can iterate over those.

The two derived types are Product and Sum. We can also enumerate them.

Should be easy to do.

[2019-01-26 00:25] leonardt opened #4 "Refactoring types into separate module"
It occurred to me that using the peak types like `Product` and `Bits(n)` would be useful in a broader context, such as the Python implementation of SIlica coroutines.  In our continued effort to converge the interfaces of various sub systems, I would propose moving the generic types in Peak into a separate repo/module, say `hwtypes` which could be used by various systems. This `hwtypes` repo could

[2019-03-05 23:33] leonardt opened #7 "TypeError when accessing `.value` on Inst"
[code]

results in

[code]

[2019-03-06 01:39] leonardt commented on #7
This doesn't work in python 3.7.0, but it works in python 3.7.2

[2019-03-06 01:39] #7 closed

[2019-03-09 03:00] phanrahan commented on #3
@cdonovick can we close this issue?

[2019-03-09 03:01] phanrahan commented on #1
@cdonovick can we close this issue?

[2019-03-09 03:01] phanrahan commented on #2
@cdonovick can we close this issue?

[2019-03-09 03:01] phanrahan commented on #4
How close are we to closing this issue?

[2019-03-09 03:04] phanrahan opened #9 "Peak documentation"
As part of our EOQ goals, I am going to start documenting peak.

@leonardt Let me know when you finishing your merge and I will add that into the doc.

[2019-03-11 18:36] #2 closed

[2019-03-11 18:38] cdonovick commented on #4
The current implementation of Product, Sum, and Tuple are fairly restrictive in their type checking.  We should discuss the possibility of moving them and Peak having define their own restrictive mixins.

[2019-03-11 18:38] #3 closed

[2019-03-11 18:38] #1 closed

[2019-03-14 22:08] rdaly525 opened #16 "Annoyances in writing and introspecting peak programs."
There are two issues here.

1) Currently we need to wrap the peak program in a function which takes in the correct BitVector class. I think a better way would be to pass the appropriate BitVector type as an __init__ parameter to the peak class.

2) Currently we are supporting high level peak simulation using arbitrary python functions and peak simulation from the __call__ method of a Peak subclass

[2019-03-14 22:22] rdaly525 commented on #16
One option that Lenny just mentioned is that we could use a separate decorator on arbitrary python functions that could just transform it into a common representation (a Peak class) so that syntactically it could still be different.

[2019-03-14 22:45] cdonovick commented on #16
I believe everything should inherit from `Peak` and use` __call__`.  Multiple ways to do things means multiple ways to break things.

The Zen of Python

[2019-03-15 18:38] phanrahan commented on #16
In terms of injecting the right type, I am open to better ways to do that. @cdonovick is probably the right person to handle this.

I am not sure I follow the second point. The idea is to make the init and call functions polymorphic. We could create multiple classes with different hwtypes, but we want all the code that is in init and call to be in one place.

[2019-03-15 23:29] rdaly525 opened #18 "Dealing with calls to BFloat from SMT BitVector"
Currently on #17, I just do a try catch block to get around the SMT incompatability with BFloat.

One possible solution is to have SMT Bfloat just raise a specific exception, and handle the exception gracefully in the peak/mapper code.

[2019-03-17 16:39] rdaly525 commented on #16
The second point is just saying that there are two ways of creating the peak simulation function. One using the __call__ method of an inherited peak class (what you think of as sequential functions), and the other just using an arbitrary python function (what you think of as combinational functions). I am pointing out that from a mapper perspective, syntactically it is annoying to handle both case

[2019-03-18 15:05] rdaly525 opened #19 "Add installation instructions for the SMT solvers (so that gen_mappings can be used)"

[2019-03-18 22:33] rdaly525 opened #20 "Remove default values in register and memory (or at least make them be bitvectors)"

[2019-03-19 20:58] cdonovick opened #26 "SMTBitVector Does not support init with list of SMTBit"

[2019-03-19 22:08] rdaly525 opened #27 "Save environment in peak class"
Problem:

We are writing code like the following which uses the family closure to generate types, Instructions, and other local objects. When we call family generator, we lose (easy) access to the generated locals, as the closure only returns the peak class.

[code]

Possible solution: Save the generated locals directly in the generated peak class

[code]

Ideally there is a syntactically more con

[2019-03-20 00:58] cdonovick commented on #26
fixed in https://github.com/phanrahan/peak/pull/28

[2019-03-20 00:58] #26 closed

[2019-03-20 00:58] cdonovick opened #29 "Create base class for assembler generator"

[2019-03-20 02:01] cdonovick opened #30 "Smart enumerations of instructions"
Need to create some pattern matching syntax for the isa.enumerate() to accelerate mapping

[2019-03-20 18:42] leonardt commented on #27
Whatever the mechanism, after discussing with @cdonovick I think the right path is to somehow pass `locals()` and `globals()` to magma (rather than the current logic which only works if the decorator is at the top level).

[2019-03-22 23:56] rdaly525 opened #35 "Get instruction with field set to something else"
It would be great to construct an instruction which is the same as a reference instruction except where one field is changed.

[code]

[2019-04-02 18:10] rdaly525 opened #37 "Allow universally quantified binding for instruction datafields"
This will allow module parameters of coreir primitives (like 'value' from coreir.const) to be bound to the datafields of instructions.

[2019-04-02 18:12] rdaly525 opened #38 "Use universally quantified binding to unused inputs in mapper bindings instead of constant values."
This will produce better mappings in which it is guarantees that unused inputs are actually unused instead of needing to be a specific constant value.

[2019-04-03 03:51] rdaly525 opened #40 "make gen_mappings independent of coreir"
Really, gen_mappings should not be tied to coreir explicitly. In essence it is computing rewrite rules from an arbitrary IR to another arbitrary IR.

This will make it easier to do write a bunch of arbitrary transformations between IRs.

I started this in the branch 'coreir' which kind of specifies a "coreir virtual machine"

Issues for AHA mapper:
-port names will not match exactly. unary operato

[2019-04-22 18:01] Kuree opened #41 "ValueError: Can't convert symbolic bitvector to int"
[code]
How to reproduce:
Run `garnet.py` with in the `halide-flow` branch (garnet).

Another side note: it took about 6 minutes before it crashed without discovering all the mapping rules. Is there any way to cache the mapping result? I don't want to wait for half an hour before mapping pointwise.

[2019-04-22 21:03] Kuree opened #42 "Mapper is extremely slow"
For the metamapper, finding a single mapping for any op (even trivial ones like add -> add) takes multiple minutes on my local machine. It would be extremely useful if it was in a format like a `sqlite3` database or saved to disk so that it doesn't need to be regenerated every time someone runs the garnet flow.

https://github.com/rdaly525/MetaMapper/issues/15

[2019-05-09 23:32] rdaly525 opened #48 "[Feature] assume/guarantee interface"
This will allow specification predicated specification of computations written in peak.

[2019-05-21 18:02] #41 closed

[2019-05-21 18:03] #4 closed

[2019-05-28 18:32] rsetaluri opened #51 "Add reset to peak description/RTL output"

[2019-06-05 23:38] rdaly525 commented on #51
I think we should resolve this by adding a parameter to the magma.circuit.sequential() to indicate how to instance the registers and that the details of how to reset shouldn't be in peak.

For example maybe we could do something like:

`@magma.circuit.sequential(async_reset = True, async_reset_name="rst")`
Or something along these lines
@leonardt @rsetaluri, thoughts?

[2019-06-05 23:40] rdaly525 commented on #51
Similar thoughts on describing a global 'en'

[2019-07-07 20:18] rdaly525 commented on #51
This is a feature in magma. Closing

[2019-07-07 20:18] #51 closed

[2019-07-07 20:19] rdaly525 commented on #40
Will be fixed by #61

[2019-07-07 20:22] rdaly525 commented on #42
Resolved by serializing/caching rewrite rules

[2019-07-07 20:22] #42 closed

[2019-07-09 17:18] #35 closed

[2019-07-17 20:16] #29 closed

[2019-07-18 23:57] rdaly525 opened #68 "Dealing with Sum types"
I perceive Sum.match() to be a major annoyance for magma.circuit.sequential and for executing arbitrary ADT objects as SMT BitVectors in `PEak.__sim__()` code (to speed up rewrite rule finding)

I propose that we have a separate (and more rewrite-able) API for matching on Sum Types. Basically what I want is boolean method(s) to indicate what type the Sum object is.

I suspect something like the fo

[2019-07-19 01:24] rdaly525 opened #69 "Move assembler code to hwtypes"
this code is not PEak specific, but rather tied to the ADT types. Magma will need to use assembler code if it is going to support hwtypes.adt types and should not depend on the peak repo.

[2019-07-22 20:05] cdonovick commented on #68
There is going to be problems with Sums.  However, this is not any easier to deal with than match.

[2019-07-24 20:05] rdaly525 opened #73 "Cleanup Family"
- [ ] Add rebind() function to rebind PEak classes to particular families
- [ ] Remove the family closure from PEak user code
- [ ] Cleanup PEak registers and PEak memories
- [ ] Write tests to make this work with Magma BitVector/ Magma AST

[2019-07-25 18:21] rdaly525 opened #74 "Move examples to peak/examples"
So that we can have access to all the IRs/ ISAs

[2019-07-26 19:00] rdaly525 opened #77 "Change rebind_type() to utilize hwtypes.adt rebind()"

[2019-07-26 19:01] rdaly525 opened #78 "Verify reserved names are not overwritten in PeakMeta"

[2019-07-29 02:49] rdaly525 opened #82 "Add tests for all WASM instructions"
https://github.com/sunfishcode/wasm-reference-manual/blob/master/WebAssembly.md#integer-wrap

[2019-07-29 02:54] rdaly525 commented on #82
This is based off of branch 'paper'

[2019-07-30 22:00] phanrahan commented on #68
Just reading this now. This seems very similar to match. I also am not that keen on using isa since isa is commonly used in object oriented systems for class hierarchy. A sum type is not the same thing.

[2019-07-30 22:41] cdonovick commented on #68
@phanrahan I am currently working on a way  to make adt types "polymorphic" in the same way bitvector is.  The goal is for `inst.ALU == InstType.ALU.Add` to return a bitvector expression. Specifically `inst[ALU_BITS] == Assemble(InstType.ALU.Add)` This way to convert to rtl / smt we just need to transform the program into SSA and pass an AssembledAdt  through to get the entire sim function as a bi

[2019-08-01 01:22] phanrahan opened #83 "Polymorphic Memory"
Now that I am implementing real processors with a von Neumann memory architecture, I am running into a problem with the type associated with memory.

Currently, a memory instance is created with a call like:
[code]
where
[code]
which means initialize `mem[0]` with an `Inst` and `mem[1]` with a `Word`.

This works but is fragile. Any suggestions on how to handle this?

#20

[2019-08-01 22:26] phanrahan commented on #68
I am not keen on `isa`, but it is not that big of a deal.

Btw, I am really enjoying working with the ADTs, particularly Sum.

But I am now changing my mind on Sum. Haskell requires you to name the variants of a Sum type. I think the main reason for that is to be able to repeat types. For example, you can create a some time which is the sum of two constant values. For example, Bit = Left () | Righ

[2019-08-01 22:30] phanrahan commented on #68
On the if-then-elif form.

One nice thing to be able to do is guarantee that all values are matched. Chisel defined a case function with a dictionary to ensure that all possible values were matched.

[2019-08-01 23:49] rdaly525 commented on #83
Pat, I modified the memory to make it less fragile from #80 . In general for the paper we are referring to the branch 'paper'. This is where we have been doing all the dev work.

[2019-08-01 23:52] rdaly525 commented on #68
@phanrahan, currently the Sums are 'tagged' and they are named exactly their type.

for example:
[code]

[2019-08-02 00:17] phanrahan commented on #68
That works for me. I can always wrap types to create names.

[2019-08-02 20:43] cdonovick commented on #68
@phanrahan @rdaly525 @leonardt
I am almost done with AssembledADT however the current match interface is unsupportable. The reason for this is there now way to extract `sum.value`  from an assembled instruction if the type is not a concrete value (e.g. is an smt or magma value).
Now I was initially going to purpose the the following interface:
[code]
However, there is currently the following issue

[2019-08-02 20:54] rdaly525 commented on #68
I am fine with this interface.

[2019-08-05 15:09] phanrahan commented on #68
The match/get interface seems fine to me.

I think the fact that s.BitVector[16] is an error is another argument for named fields in a Sum.

[2019-08-05 15:22] phanrahan commented on #68
More specifically, can we add the capability do define a Sum as
[code]

[2019-08-05 15:27] cdonovick commented on #68
That syntax is not valid python unfortunately.

We could define them like Products / Enums or the following:

[code]

As `x:X` will be interpreted as a slice.

Caleb

On Mon, Aug 5, 2019, 11:22 AM Pat Hanrahan <notifications@github.com> wrote:

[2019-08-05 15:32] phanrahan commented on #68
I didn't check that syntax. Need to brush up on python.

Yours is clever.

The Product/Enum ways also works for me.

[2019-08-05 16:35] cdonovick commented on #68
TIL: No markdown in email response to github threads.

Also I think I have slightly altered proposal for syntax so that I don't have to reserve the names `get` and `match` (any method name excludes having tags name similarly so is undesirable). E.g `Sum[match, get]` is an error.

For the get part it would be consistent with the rest of the library to use getitem
[code]

For match I propose using c

[2019-08-06 20:58] cdonovick commented on #68
Okay it turns out that `__contains__` will not work the way we want it to because python calls `bool` on the return value of `__contains__`.

[2019-08-06 21:11] cdonovick commented on #68
Other possible syntaxes are
Probably my prefered:
[code]
More annoying to implement:
[code]
We could also abuse some other operator:
[code]

[2019-08-06 22:22] phanrahan commented on #68
And here s = Sum[A, B, C]?

[2019-08-06 22:24] cdonovick commented on #68
Ooops lost intro along the way of editing.  ```s = Sum[A, B]```

[2019-08-06 22:28] phanrahan commented on #68
s.match(A) works for me. (Still lobbying to make A a tag not a type.)

[2019-08-06 23:07] cdonovick commented on #68
The tags vs type is somewhat an orthogonal issue.  I want to get the assembled adt stuff working.  I have been planning an over hall of the ADT types anyway to commodify the getitem syntax.  When I do that Ill work on the TaggedUnion, which should pretty easy add.

[2019-08-07 22:13] cdonovick commented on #68
Okay I think I have a good interface that will work well for both `TaggedUnion` and `Sum` and which has a nice correspondence with `Product` and `Tuple`.
I purpose the following syntax
[code]
This is achieved by having `s[A]` return a `Match` object with properties `match` and `value`. Implenting this for AssembledADT's would not be problematic because given a similar `Sum` `t` in our current synt

[2019-08-15 22:15] rdaly525 opened #94 "CoreIR installation is failing"
@rsetaluri, @leonardt. I think you two updated this last. Could you take a look? Thanks

[2019-08-28 23:24] rdaly525 commented on #83
This should probably be resolved with the new assembledADT types. I think constructing an ADT value with a bitvector should work now.

[2019-09-10 16:10] rdaly525 opened #100 "SMT cannot be used with examples/pe"
Currently we have the following in examples/pe/sim.py

[code]

where 'inst' is an instance of the Sum type Sum[A,B,C,D,E] and where each of A,B,C,D,E have its own implementation of the method 'eval'

I know this is a very clean generic way of writing the ALU (with getting common fields and using the specialized method 'eval'), but this fundamentally does not work if you have an SMT free variable r

[2019-09-10 16:21] phanrahan commented on #100
That was an experiment based on code that Nikhyl had written. He wanted to combine the isa and the semantics, ala TIE. I suggest we rewrite it ala the way we are doing it in the other examples.

[2019-09-10 16:32] rdaly525 commented on #100
I agree that to get stuff merged, we should rewrite it (or disable it for now), but I do think it is an interesting design pattern.

There might be a way to do the function specialization with a magic "peak_abstract_method" decorator that evaluates the functions for all the subtypes and muxes on them via the sum tag.

[2019-09-25 01:07] rdaly525 commented on #94
Fixed

[2019-09-25 01:07] #94 closed

[2019-09-25 01:08] rdaly525 opened #103 "Fix warnings"
when pytest is run it spams stdout with all the tests that hit a warning. This slows everything down and is a show-stopper for running pytest in lassen.

[2019-09-25 04:08] #103 closed

[2019-09-25 04:09] cdonovick commented on #103
Addressed by #91

[2019-09-25 20:39] #68 closed

[2019-09-25 20:41] cdonovick commented on #83
Can we close this issue?

[2019-09-25 20:42] cdonovick commented on #82
@rdaly525 can we close this issue?

[2019-09-25 20:44] cdonovick commented on #78
@rdaly525 is this still an issue?

[2019-09-25 20:44] cdonovick commented on #77
@rdaly525 is this still an issue?

[2019-09-25 20:44] #74 closed

[2019-09-25 20:45] cdonovick commented on #30
Mostly unnecessary as we aren't using enumerate anymore.

[2019-09-25 20:45] #30 closed

[2019-09-25 20:47] cdonovick commented on #20
Pretty sure this is resolved

[2019-09-25 20:47] #20 closed

[2019-09-25 20:48] #18 closed

[2019-09-25 20:49] cdonovick commented on #16
Pretty sure this is resolved

[2019-09-25 20:49] #16 closed

[2019-09-25 21:04] rdaly525 commented on #77
No, closing.

[2019-09-25 21:04] #77 closed

[2019-09-25 21:05] rdaly525 commented on #82
No, tests are still missing for WASM instructions.

[2019-09-25 21:10] rdaly525 commented on #83
I think Pat's issue can easily be resolved by just specifying the instruction type to be the assembledADT type upfront.

[2019-09-25 21:11] rdaly525 commented on #78
This has been resolved.

[2019-09-25 21:11] #78 closed

[2019-09-25 21:14] cdonovick commented on #83
@rdaly525 I'm not sure what declaring an instruction to be an 'assembledADT' means.

[2019-09-25 21:54] phanrahan commented on #83
I will test this again and provide a simple example if it fails.

[2019-10-04 19:59] phanrahan opened #105 "Assembler with a type containing a Bit"
I tried creating an assembler for the pdp8 isa. It fails, because there is a type which is product of Bits.

File "/Users/hanrahan/git/peak/peak/assembler/assembler.py", line 152, in _field
    width = isa.size
AttributeError: type object 'Bit' has no attribute 'size'

Should this work? Am I doing something wrong?

[2019-10-04 20:43] cdonovick commented on #105
This has been fixed in master try rebasing.

[2019-10-04 20:43] #105 closed

[2019-10-04 20:44] cdonovick commented on #37
@rdaly525 I am pretty sure this resolved can we close this?

[2019-10-04 22:55] phanrahan commented on #105
Works.

[2019-10-07 14:27] #37 closed

[2019-11-08 21:59] norabarlow opened #106 "Data Gating in PE"
Adding data grating in the PE so that based on the way the PE is configured, only the computational unit in use has switching inputs.

This can be accomplished by adding a mux in front of each input and using the instruction to select the input.

[2020-01-12 18:32] phanrahan commented on #94
I updated coreir and magma, and most of the other repos. When I try to run the peak tests, 4 fail.
[code]

[2020-01-13 15:53] rdaly525 opened #113 "Create a style guide for writing peak classes"

[2020-01-13 15:56] rdaly525 commented on #113
Should be included:
- family closure explanation
- type annotating
- issues with no 'else' statements

[2020-01-25 00:51] jack-melchert opened #122 "name_outputs() doesn't support ADT types like Tuple"
It would be nice if name_outputs() would support Tuple arguments.

https://github.com/cdonovick/peak/blob/e531d358f09c1ecbce7c39f2eb14a20051d63391/peak/peak.py#L52-L53

I worked around this by modifying these lines to include unrolling the Tuple into peak_outputs

[code]

[2020-01-29 17:54] rdaly525 opened #125 "Needed Feature: Returning a list of all registers contained within a Peak class"
I need an API to retrieve a list of all registers contained within the full hierarchy of the Peak class.

Example:

[code]

Ideally, what is a register is determined by the future hwtypes.Register type, but for now perhaps all generated peak register classes could be inherited from some AbstractRegister class.

[2020-01-30 16:28] rdaly525 opened #126 "cleanup input_t/output_t"
Use inspect instead of directly introspecting annotations.

[2020-01-31 23:12] jack-melchert opened #127 "peak.wrap_with_disassembler() gives error when Inst class includes Tuple field"
An Inst class like this (modified lassen isa.py):
[code]
Gives an error in this function:

[code]

https://github.com/cdonovick/peak/blob/812fd68c2cc1c2a93d3c272d4e81528964d03f05/peak/rtl_utils.py#L14-L30

[2020-02-04 16:46] rdaly525 commented on #127
@rsetalur, could you take a look at this? I think you wrote the wrap_with_disassembler code.

[2020-02-06 00:22] jack-melchert opened #128 "Support of list of instances in PE __init__"
In the \_\_init\_\_ function of a Peak class, only statements like this are allowed:
[code]

It would be useful if something like this:

[code]

Could be written as a list:

[code]

Alternatively, more flexibility in how the statements inside the \_\_init\_\_ function are written would work as well.

[2020-02-06 00:23] rdaly525 opened #129 "Mapper should only existentially quantify values of type Const"
All other free variables should be treated as universally quantified.

[2020-02-06 00:37] rdaly525 opened #130 "Restrict the search space of the mapper"
The goal is to be able to restrict the search space of the mapper and create an API for doing so. The SMT formula can be split into which variables are universally qualified and which are existentially qualified.

**Examples of restricting existentially quantified variables:**
For example for a particular instruction defined in the following way
class Instr(Product):
  op = Op
  imm = BitVector[16

[2020-02-06 15:49] cdonovick commented on #128
I think supporting this technically feasible but super involved.

Basically we could elaborate static list comprehensions in sequential and handle statements like `self.regs[0]` properly in `__call__`.   But it's pretty tricky so I think for now you might need to stick to static definitions.  Unless @leonardt wants to take this on.

Alternatively you if your use case could be handled by an `unroll

[2020-02-06 15:55] cdonovick commented on #128
I guess it would also possible to build some sort alternative macro syntax that could generate effectively `self.regs: [m.bits(0, 2) for _ in range(4)]` into `self.reg0 = ...; self.reg1 = ...` but its still not clear to me how this would be used in `__call__`.

@jack-melchert could you provide a code example with a `__call__` using your desired list syntax (just pretend lists work)? I would like t

[2020-02-06 17:46] leonardt commented on #128
For that macro syntax, I believe you need some sort of symbol interpolation (similar to how you can inject python values into strings, you want to inject macro values into python symbol names).  Here's an example of how Julia handles it https://docs.julialang.org/en/v1/manual/metaprogramming/#Interpolation-1

However, we're also planning to support arbitrary generator code (core magma/python) in _

[2020-02-06 17:50] rdaly525 commented on #128
@jack-melchert, I think a quick solution to unblock you is to just have a helper function for the ALU instead of declaring it in the init (similar to the original Lassen code). This allows you to call in any number of times. Eventually I will want the ALUs declared in init for mapping though.

-Ross

[2020-02-06 18:01] jack-melchert commented on #128
Ok, that should work for now, and should be relatively easy to change over once this feature is implemented.

Caleb, here is what I would eventually want to do:

[code]

Thanks for the help!

[2020-02-06 18:52] leonardt commented on #128
Long term I think we can support that syntax (define list of objects inside __init__), short term, symbol interpolation would allow you to define and refer to `alus_{i}` and expand those in loops in __init__ and __call__

[2020-02-28 00:10] jack-melchert opened #132 "Peak compiler doesn't work with latest version of Magma (>= 2.0.10)"
The new IO format isn't supported in the Peak compiler and you get a ton of these warnings and errors:
[code]

[2020-02-28 00:36] jack-melchert opened #133 "rtl_utils should be using isinstance consistently"
https://github.com/cdonovick/peak/blob/812fd68c2cc1c2a93d3c272d4e81528964d03f05/peak/rtl_utils.py#L9

https://github.com/cdonovick/peak/blob/812fd68c2cc1c2a93d3c272d4e81528964d03f05/peak/rtl_utils.py#L38

Both of these lines cause errors when there are other Product inputs to a PE besides the Inst input.

[2020-03-11 21:26] jack-melchert opened #135 "Can outputs of the __call__ function allowed to be Tuples?"
So when I have a \_\_call\_\_ function that looks like this:

[code]
where DataOutputList is of type Tuple, I get an error when trying to run the ArchMapper, specifically this error:

[code]

Is this type of output supported? If so, is this error related to something that I am doing wrong, or is it a bug in the assembler?

[2020-03-11 22:41] rdaly525 commented on #135
@jack-melchert  Can you give me the full example? Ill debug

[2020-03-11 22:53] jack-melchert commented on #135
Sure, this is the simplest example that doesn't work:
[code]

[2020-03-12 01:23] rdaly525 commented on #135
Unfortunately this is something we cannot support at the moment. Specifically the issue is the Tuple constructor within the __call__ function. You will have to use a python tuple as the output type.

Also make sure that you are using peak.Tuple_fc instead of hwtypes.Tuple. In general when writing these generators you should never need to import hwtypes.

[code]

[2020-03-12 01:30] jack-melchert commented on #135
Great, thanks for looking into that for me, I don't think it will be too much of a hassle to use a python tuple instead.

[2020-03-23 02:01] jack-melchert opened #141 "New magma ADT bug with <= operator"
I am getting this error when running a PE design through the magma coreir-verilog compiler.

[code]

Seems like it happens anytime when there is an input to a PE that is a Tuple.

[2020-03-23 22:55] cdonovick commented on #141
@jack-melchert
Hmmm I think this has to do with the old RTL generation flow.  Which to be honest I don't fully understand.   Can you generate this error using the new style:

[code]

Tuples are not supported in the old flow if I recall correctly.

[2020-03-23 22:56] cdonovick commented on #141
@jack-melchert If it is using the new style push the failing test to a branch and I will investigate.

[2020-03-24 06:44] jack-melchert commented on #141
https://github.com/cdonovick/peak/tree/test-tuples

[2020-03-24 18:50] jack-melchert opened #142 "Magma compiler bug"
Added test_magma_compiler.py to https://github.com/cdonovick/peak/tree/magma-compiler-bug.

When calling magma.compile(..., output="coreir-verilog") I get this error:
[code]

[2020-03-24 18:55] cdonovick commented on #141
@rdaly525 @jack-melchert can we close this now?

[2020-03-24 18:56] #141 closed

[2020-03-24 18:57] jack-melchert commented on #141
Yep, this seems to be fixed now.

[2020-03-24 19:28] cdonovick commented on #142
The issue is your return type annotations on are wrong.

In `examples/min_pe2/sim.py` the return type is annotated as `Word`. In `isa.py`, we have `Word = family.BitVector[8]`.  But in one branch you are returning `UData, Bit` where `UData = Unsigned[16]` and in the other you are returning `Word`.

Also there is a secret gotcha in this code because `isa.py` defines `Bit = BitVector[1]`, where `adc

[2020-03-24 19:28] #142 closed

[2020-03-24 20:18] jack-melchert commented on #142
Did you get it to work by fixing those type errors? No matter what types I use, I can't get it to compile.

[2020-03-24 20:28] cdonovick commented on #142
I have to rebase on master and fix the types and it worked for me.  Ill push my edits.

[2020-03-24 20:35] cdonovick commented on #142
Oh I also had to make the directory that you are compiling magma to.

[2020-03-24 21:06] rdaly525 opened #145 "Mapper currently does existential quanification on unbound ports. Should be universal"

[2020-03-25 19:56] jack-melchert opened #146 "Error using new Magma ADT types"
So now that the Product_fc, Tuple_fc, and Enum_fc are gone, I have been getting an error using Enum imported from hwtypes.

When I try to use the magma compiler to compiler to verilog I get this error:
[code]

My work around right now is to use the magma version of Enum when the family is magma, but this is the same as Enum_fc as far as I know. I'm working on reproducing it with simpler tests, but

[2020-03-25 22:17] cdonovick commented on #146
Can you post a failing test case?

[2020-03-25 23:39] jack-melchert commented on #146
https://github.com/cdonovick/peak/tree/magma-compiler-bug

I changed test_magma_compiler_bug.py to use a new pe that is failing.

[2020-03-26 00:10] cdonovick commented on #146
Hmm this seems like something within magma, I will try to generate a minimal test case for them.

[2020-03-26 21:45] rsetaluri commented on #146
@jack-melchert took a look. Looks like it's related to MagmaProtocol stuff with the custom types. Will try to have a proper fix in the next few days.

If it's a serious blocker I can try to suggest a work around

[2020-03-31 00:07] jack-melchert opened #147 "Type mismatch when using hwtypes Product"
[code]

This should work right? It gives a type mismatch error saying that "Value VCC is not of type Bit".

[2020-03-31 00:11] rsetaluri commented on #147
@jack-melchert this looks like from recent changes. Let me take a look.

But first, does using `magma.Product` rather than `hwtypes.Product` fix anything?

[2020-03-31 00:17] jack-melchert commented on #147
Yep, using magma.Product works fine, its just the hwtypes.Product that causes an error.

[2020-03-31 00:34] rsetaluri commented on #147
is that the issue? does `hwtypes.Product` allow subfields of anytime or only hwtypes ADTs?

cc @cdonovick

[2020-03-31 00:35] rdaly525 commented on #147
Product definitely allows any type. Many tests use 'str' and 'int'

[2020-03-31 00:42] rsetaluri commented on #147
Ok, I'll investigate

[2020-03-31 00:46] rsetaluri commented on #147
Yeah there's an issue where `isinstance(m.Bit(0), m.Bit)` evaluates to false which is really bad 😬 . I'll work on a fix

[2020-03-31 01:35] cdonovick commented on #147
@rsetaluri might it have to do with the following change: https://github.com/phanrahan/magma/pull/643

[2020-03-31 01:39] rsetaluri commented on #147
@cdonovick nah actually is a more recent change I made...however; the type system was broken even before any of this, e.g. if you tried the same with `Clock` before it would've broken.

[2020-04-02 02:38] rsetaluri commented on #147
@jack-melchert can you check that this works using branch `mamga-fix-bit-const`?

[2020-04-02 18:41] jack-melchert commented on #147
It seems to fix some of the issues I was having, but a (possibly unrelated) issue keeps cropping up. I get a AssertionError: (Out(Bits[1]), Bit) when using an Enum with only two fields. Something like this:

[code]
won't work for me.

[2020-04-02 18:48] cdonovick commented on #147
Is that a magma Enum or hwtypes enum?

[2020-04-02 18:50] jack-melchert commented on #147
Hwtypes

[2020-04-02 18:54] cdonovick commented on #147
Can you generate minimal failing case?

[2020-04-02 19:02] rsetaluri commented on #147
@jack-melchert
[code]

seems to work for me...

[2020-04-02 19:31] jack-melchert commented on #147
`hwtypes-enum-bug` using test_magma_compile.py shows this bug. Its actually only when the Enum class has two options that are 0 and 1.

For this example, if examples/demo_pes/pe7/isa.py has this Op class:
[code]
it works fine but if I change it to this:
[code]
it gives this error:

[code]

[2020-04-02 19:40] cdonovick commented on #147
Can you push any local changes you have to the branch?  pe7 has 4 ops

[2020-04-02 19:44] jack-melchert commented on #147
Whoops, I forgot to commit local changes, should be fixed now.

[2020-04-06 05:23] rdaly525 opened #148 "Bug with magma ADT type as output type"
I am trying to get AADT constructors working in peak, but I ran across this annoying bug. The top code is something that works in magma, so I would expect it to work in peak as well.

[code]

The error is
[code]
The error is within circuit.combinatioanl parsing the IO, so the adt constructor hasn't even been called yet.

Debugging this a bit, I realized that the 't' is from https://github.com/cdon

[2020-04-06 06:12] cdonovick commented on #148
I wouldn't expect that to work

[2020-04-06 06:19] cdonovick commented on #148
There is no support for constructing an ADT type in line.  You would need to construct an assembled type for SMT or Magma.  I also don't see what this gets you when you could just return a python tuple and everything would work.

[2020-04-06 06:24] rdaly525 commented on #148
I know that the constructor in the body needs to be an assembled ADT for smt/hwtypes. The purpose of this is a minimal failing test is to show there is something wrong with peak/magma parsing the annotations of the call function. Replace the __call__ body with "assert 0" and you still get the same error.

[2020-04-06 06:25] cdonovick commented on #148
No nothings wrong with it you are using an unsupported type.

[2020-04-06 16:00] rdaly525 commented on #148
Okay, as a follow up on Caleb and my slack chat, I think the determining factor is that a MagmaADT type as an output type does not quite work yet.

[2020-04-06 19:11] rsetaluri commented on #147
Got confirmation from @jack-melchert that this was fixed.

[2020-04-06 19:11] #147 closed

[2020-04-06 19:12] rsetaluri commented on #148
@rdaly525 @cdonovick, is this related to #146?

[2020-04-06 19:23] rsetaluri commented on #146
@jack-melchert can you check magma:add-methods-to-protocol branch?

[2020-04-06 19:28] jack-melchert commented on #146
Yep, that fixes the issue. Thanks!

[2020-04-06 19:38] rdaly525 commented on #148
@rsetaluri I just tried your branch on that bug with no luck at resolving this issue. Have we confirmed that any magma-protocol type works as an output type in circuit.combinational/sequential?

[2020-04-06 20:03] rsetaluri commented on #146
Let's keep this open until magma PR is merged

[2020-04-06 21:02] cdonovick commented on #148
@rsetaluri https://github.com/phanrahan/magma/issues/671

[2020-04-06 22:46] rsetaluri commented on #148
See https://github.com/phanrahan/magma/pull/672

[2020-04-06 23:51] rdaly525 commented on #148
I can confirm that if the name aliasing issue is fixed, then @rsetaluri magma PR works. I had to change the 't' in https://github.com/cdonovick/peak/blob/c29dad28fc345b7a011a6faee5b57a11977fe144/peak/features.py#L135 to some other name. Is there any sane way to also fix the name aliasing?

[2020-04-06 23:57] rsetaluri commented on #148
@rdaly525 not sure what the issue there is, can you elucidate?

[2020-04-07 00:02] rdaly525 commented on #148
When generating the .magma/PEbug_comb.py there is a variable named 't' which represents the output of the output type of the circuit (you can see that in the error message I posted in this issue). The reason that is named 't' is because the variable in features.py code I referenced is named 't'. Within magma/syntax/sequential.py, a variable named 't' is set as a string and that particular variable

[2020-04-07 00:04] rdaly525 commented on #148
If I change the variable in features.py to something else (which is not used in sequential.py), I do not get the error.

[2020-04-07 00:06] rsetaluri commented on #148
so the problem is that the `exec` code path is reserving `t` in the environment for it's own use, though it could be coming from the user code?

[2020-04-07 02:45] #146 closed

[2020-04-07 17:58] #127 closed

[2020-04-07 17:59] jack-melchert commented on #132
Fixed with #139

[2020-04-07 17:59] #132 closed

[2020-04-07 18:00] #135 closed

[2020-04-07 18:00] jack-melchert commented on #133
Fixed with #134

[2020-04-07 18:00] #133 closed

[2020-04-07 18:02] jack-melchert commented on #122
Fixed with #121

[2020-04-07 18:02] #122 closed

[2020-04-09 22:43] jack-melchert opened #150 "Support for constraining ADT types in mapper"
Similar to #130

Now that you can specify a set of values that constant bitvector fields can take during the solving process  (#144), it would be useful if this were extended to ADT types as well. Also, it would be useful if there were some mechanism for constraining multiple signals at once.
Ideally, I would like to be able to constrain the ALU instruction, LUT inputs, Cond instruction, and Confi

[2020-04-12 18:56] rsetaluri commented on #148
@rdaly525 can we close this for now?

[2020-04-12 23:34] rdaly525 commented on #148
Tracking https://github.com/phanrahan/magma/issues/679

[2020-04-12 23:42] rsetaluri commented on #148
@rdaly525 thanks. closing this

[2020-04-12 23:42] #148 closed

[2020-04-16 18:01] rdaly525 opened #153 "Tuple construction within call"
[code]

Currently with the #152 changes, 1) and 2) work and 3) mostly works, but I would ideally like to write code like 3 or worst case 4 to allow for list lengths to be a generate parameter.

@cdonovick, is it logistically possible to extend ast_tools unroll to work with loop comprehensions? Do you expect any major blockers for getting 4 working? I am trying to get a sense of what is and is not

[2020-04-22 21:05] jack-melchert opened #154 "Tuple argument in __call__ causes fault error"
I've added a test case to test_magma.py on fault_tuple_bug that uses a call function like this:

[code]

There seem to be multiple options for how to assign a value to "inputs" in fault.
[code]
None of these options are currently working. It seems like these features just need to be implemented in fault, but which options seems like the best way to do this?

[2020-04-22 22:10] leonardt commented on #154
Fault supports poking/expecting on tuples using either tuple syntax, e.g `tester.circuit.I = (0, 1)` or dictionary syntax, e.g. `tester.circuit.I = {"x": 0, "y": 1}` (this is actually old naming scheme, so this is how you would poke product types).  Here's two examples: https://github.com/leonardt/fault/blob/master/tests/test_tester/test_core.py#L724-L767

Is the Peak compiled circuit encoding the

[2020-04-22 22:13] leonardt commented on #154
Confirmed, it looks like the magma circuit uses an assembled type, @cdonovick any thoughts on the best way to support this? The assembled type has access to the assembler that presumably could be used to encode the input value.  The main concern is whether fault should build support in for this, or if Peak should define a sub-class of fault's tester that extends the value logic to support these as

[2020-04-23 01:14] rdaly525 commented on #154
@leonardt, I think it depends how much you want fault to support MagmaAssembledADT. I personally think that being able to use arbitrary ADTs in magma/fault independent of peak would be very useful. But defining a peak-based fault tester also seems reasonable.

[2020-04-23 21:40] leonardt commented on #154
Arbitrary ADT support would require a core ADT type in magma, right now MagmaAssembledADT doesn't use a core magma type by design (it uses the type protocol instead).  Perhaps we can add a way to convert constant values to type protocol API, aybe this will work with "_get_magma_value_" (we can try constructing a value using the type of the port, then call _get_magma_value_ to get a corresponding m

[2020-05-10 22:02] rdaly525 opened #159 "Feature Request: Assembling "external" functions"
[code]

This is a proposal for a way to assemble user defined helper functions. Allows users to write more modular code and is conceptually similar to using magma's circuit.combinational on arbitrary functions. Initial implementation in branch 'extern'

[2020-05-28 20:56] rdaly525 opened #160 "[Feature Request] Constrain rewrite rule generator values by path instead of type"
Previous API:

`arch_mapper = ArchMapper(arch_fc, constrain_constant_bv : tp.Option[None, tuple])`

Proposed API:

[code]

Any unspecified (unconstrained) path will:
-Existentially quantified if it is a Const type.
-Universally quantified otherwise

[2020-05-28 20:57] rdaly525 commented on #160
@jack-melchert, let me know if this would be sufficient

[2020-05-28 21:10] jack-melchert commented on #160
Yep, that is exactly what I need.

[2020-06-07 16:30] rdaly525 opened #162 "rewrite rule generator can choose "impossible" values"
For example in https://github.com/cdonovick/peak/blob/2e6b964a55c655e0d9e5a320e51bd8dc1de50b0d/tests/test_aadt_mapping.py#L13

It finds a rewrite rule for 'Sub', but the enum it chooses for Inst.OpCode is '0' which is not from the set of possible OpCodes. This results from the fact that we are writing the sim.py functions using the if/elif/else pattern to emulate a case statement for Enum types

I

[2020-06-07 16:40] rdaly525 commented on #162
@cdonovick thoughts?

[2020-06-08 04:54] rdaly525 opened #164 "Need ability to specify types as being either Const or non-const"
This allows for opportunities to synthesize constants on dynamic ports given knowledge of how to use something like a load immediate

[2020-06-08 05:01] rdaly525 opened #165 "Add ability to constrain particular Sum/Tagged Union choices"

[2020-06-09 01:05] rdaly525 commented on #164
Closing, as this is actually undesirable. Ports should always either be const or non-const.

[2020-06-09 01:05] #164 closed

[2020-06-09 01:11] rdaly525 commented on #73
closing as this is not relevant anymore

[2020-06-09 01:11] #73 closed

[2020-06-09 21:56] rdaly525 opened #166 "Add test for Sum of Products with the rewrite rule generator"

[2020-06-09 22:33] #145 closed

[2020-06-09 22:33] #150 closed

[2020-06-09 22:33] #160 closed

[2020-06-12 04:34] rdaly525 opened #174 "external loop code does not work with Float (UF)"
Failing test in branch:float-test

to reproduce:
`pytest tests/test_aadt_mapping -k test_external_loop_UF`

The external_loop speedup mechanism cannot handle an uninterpreted function in the SMT formula

[2020-06-12 04:35] rdaly525 commented on #174
@jack-melchert do you know Nestan's github name?

[2020-06-12 16:38] jack-melchert commented on #174
No I'm not sure what it is, but I sent her this issue on slack.

[2020-06-12 19:12] rdaly525 commented on #174
@ntsis

[2020-06-12 21:54] jack-melchert opened #175 "Unbound ports in rewrite rule cause issue with rewrite rule verificiation"
Failing test case on branch : unbound_ports_bug

pytest tests/test_aadt_mapping.py

Gives error on `assert len(complete_binding)==1` on line 200 of peak/mapper/mapper.py

https://github.com/cdonovick/peak/blob/defc926be6b25f87f3e951d3eeaa4c4d2c6eee0b/peak/mapper/mapper.py#L222-L247

Verify() should universally quantify unbound ports before calling build_arch_input().

[2020-06-16 23:05] jack-melchert opened #176 "Assembled Magma as a return type causes some errors"
On branch magma_adt_return_type_bug
pytest tests/test_magma_adt_bug.py

Gives this error:
[code]

It seems to only happen when instantiating a Peak class that has the output of type (Tuple[Data, Data], Bit) within another Peak class. See examples/demo_pes/pe6 for an example of a failing case. Doesn't throw an error when the output is just Tuple[Data, Data], which is interesting.

[2020-06-16 23:07] rsetaluri commented on #176
looks like you're using `repr` of a type for code gen and that now has this `<...>` stuff?

[2020-06-16 23:08] cdonovick commented on #176
I think its likely something in sequential.  I will investigate.

[2020-06-16 23:18] cdonovick commented on #176
I remember we had a similar bug before but I thought I fixed it with:

https://github.com/phanrahan/magma/blob/master/magma/syntax/sequential.py#L251

[2020-06-16 23:42] cdonovick commented on #176
I have tracked the bug down to https://github.com/phanrahan/magma/blob/master/magma/syntax/sequential.py#L55

[2020-06-16 23:44] cdonovick commented on #176
I think the output types need to be run through the `TypeNamer`

[2020-06-17 00:04] cdonovick commented on #176
Turns out I was wrong about needing to run things through the TypeName but should be fixed by my PR to magma.

[2020-06-17 00:31] #176 closed

[2020-06-18 17:51] #175 closed

[2020-06-18 20:15] jack-melchert opened #178 "rr.verify() works with BitVector[1] but not Bit"
On branch verify-bit-bug
pytest tests/test_aadt_mapping.py

https://github.com/cdonovick/peak/blob/6d675e7482b3627a43fe56d35e75397a4aac2c5c/peak/mapper/mapper.py#L268-L269
Fails for hwtypes.smt_bit_vector.SMTBit and then gives the error `AttributeError: type object 'SMTBit' has no attribute 'fields'`

[2020-06-18 21:02] jack-melchert opened #180 "rr.verify() bug with unbound output port"
On branch verify-bit-output
pytest tests/test_aadt_mapping.py

Gives error `ValueError: <class 'peak.mapper.utils.Unbound'> is not valid` when one or more output ports are unbound.

I'm guessing we just want to throw these out when constructing the verify equation.

[2020-06-18 21:31] #178 closed

[2020-06-19 15:38] rdaly525 commented on #174
@ntsis and @cdonovick any update on how to resolve this issue?

[2020-06-19 22:25] jack-melchert opened #183 "Different behavior for rewrite rule solve() vs verify()"
On branch: verify-vs-solve
pytest tests/test_aadt_mapping.py

The problem is that you can solve for a rewrite rule and get no solution. However, there can still be rewrite rules that pass the `rr.verify()` check. This happens when you need to tie an input to a constant for the verify check to pass.

For example:
A PE that implements `res = (a + b) * c`
An IR that requires `res = a + b`

Solving fo

[2020-06-20 00:12] rdaly525 commented on #183
This is an intended feature. Specifying a path constraint to a non-const type when discovering a rewrite rule indicates that the value of that path will *always* be the value of the port. If you want for the rewrite rule to be valid independent of the value of the path, you should not set a value for the path

[2020-06-20 00:12] #183 closed

[2020-06-20 19:58] rdaly525 commented on #180
Fixed by #182

[2020-06-20 19:58] #180 closed

[2020-06-21 04:14] rdaly525 opened #186 "is_valid issue"
on branch is_valid_bug

`pytest tests/test_pe_lut.py`

Produces

[code]

Hopefully it is just an issue with my example in some way.

[2020-06-23 23:07] cdonovick commented on #186
I believe we  can close this correct?

[2020-06-24 14:59] #186 closed

[2020-07-22 20:02] Nic30 opened #198 "[Question] RTL export support"
Hello, are you able to generate an actual hardware from ISA description? I am missing some description about what this project actually does.

[2020-07-25 21:07] cdonovick commented on #198
Yes, we can generate RTL.  We use the HDL magma to generate magma. There isn't documentation but we have tests for the code path.

https://github.com/cdonovick/peak/blob/master/tests/test_magma.py

https://github.com/phanrahan/magma.

[2020-07-26 05:59] Nic30 commented on #198
Nice, I still do not know how to actually use this project, but I will keep eye on it. It looks interesting. I do have similar set of tools but I can not compare it now.
Are you somehow related to Stanford?

[2020-07-28 20:15] cdonovick commented on #198
Yes, I am Stanford phd candidate.

[2020-07-28 21:08] Nic30 commented on #198
Thank you for the information, I looking forward to see this tool in action some day.

[2020-07-28 21:08] #198 closed

[2020-08-03 06:36] rdaly525 opened #202 "rebind does not work with RiscV ISA"
Looks like it is due to subclassing a custom ADT

branch:rebind-riscv
tests/test_risc.py:155

[2020-08-03 18:10] cdonovick commented on #202
This pretty fundamental to how rebind / ADT works.   I could reformulate the ISA to avoid inheritance but that would effect any code @phanrahan has written for the assembler

[2020-08-03 19:06] #202 closed

[2020-08-03 20:55] cdonovick commented on #198
I would be happy to give you a tour of the tool at some point if you would be interested.

[2020-08-04 09:40] Nic30 commented on #198
Sure, I am a PhD student which is working with "hw compilers" for network apps, naturally this project interests me.

[2020-08-06 01:22] cdonovick commented on #198
Cool! I am currently working on two submissions to ASPLOS so I am pretty time poor but once that is done I'd be happy to chat with you to see if there is anyway our tools could be useful.  You might also be interested in our HDL magma which I previously mentioned (more or less chisel in python).  It actually has documentation so is much more approachable.

[2020-08-06 06:57] Nic30 commented on #198
https://github.com/phanrahan/magma/issues/281

[2020-09-18 20:41] rdaly525 opened #208 "Family issues"
This is a tracker for resolving family issues:

The major issue is that different codepaths make different assumptions regarding families

In a peak program there are 4 use cases of families.

(1) Type annotations on __call__
(2) Constant values
(3) Type matching for Sum/TaggedUnions
(4) Type constructors

We need to decide whether to use the passed in family or a particular kind of family (Py) fo

[2020-09-21 19:55] cdonovick commented on #208
Assuming you mean ADT constructors (the only use facing type constructors in peak).  They are agnostic to *all* types, so I don't understand the constraint you later reference.

Which code paths?   (See constraints for the one place I am aware of)

Which code paths?

* Magma requires the annotations be the assembled versions of an adt.  To achieve this the magma family replaces the annotations wit

[2020-09-23 16:20] rdaly525 commented on #208
Sorry, yeah for (4) I meant the dynamic ADT value constructor methods ( family.get_constructor(T) ). For Py, this just returns the same type, and for SMT/Magma, it returns the relevant Assembled type's from_fields method.

[2020-10-05 17:29] mithro opened #209 "Please add a LICENSE file"
https://docs.github.com/en/free-pro-team@latest/github/building-a-strong-community/adding-a-license-to-a-repository

[2021-10-08 19:14] rdaly525 opened #237 "[Feature Request] Pipeline Operator to be used in __call__"
Description: Have an operator or a function that represents a pipeline register that can be used in `__call__`. Currently the only way to add a register is to declare it in `__init__`.

Benefits: Creating pipelined designs would become more ergonomic (cc @jack-melchert). Also possibly allows for interpreting time-sequences of values which could be used for testing, verification, and maybe timing-a

[2021-10-08 19:14] rdaly525 commented on #237
Let me know if either of you have comments or concerns.